version: '3.8'

services:

  web:
    build:
      context: ./project
      dockerfile: Dockerfile
    command: gunicorn dashboard.wsgi:application --bind 0.0.0.0:8000
    ports:
      - '8000:8000'
    env_file:
      - ./.env.prod
    depends_on:
      - db
      - redis

  db:
    image: postgres:13.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db

  redis:
    image: redis:6-alpine

  celery_worker:
    build:
      context: ./project
    command: celery -A dashboard worker -l info
    volumes:
      - ./project/:/app/
    env_file:
      - ./.env.prod
    depends_on:
      - redis
      - web
  #
  #
  # celery_beat:
  #   build: ./
  #   command: celery -A core beat -l info
  #   volumes:
  #     - ./peoject/:/usr/src/app/
  #   env_file:
  #     - ./.env.prod
  #   depends_on:
  #     - redis





  # frontend:
  #   restart: always
  #   build:
  #     context: ./frontend_vue
  #     dockerfile: Dockerfile
  #   container_name: frontend
  #   image: frontend_image
  #   volumes:
  #     - ./frontend_vue/nginx:/etc/nginx/conf.d
  #   ports:
  #     - 80:80

volumes:
  postgres_data:
